services:
  golang:
    build:
      dockerfile: docker/golang/Dockerfile
    volumes:
      - ./:/app
    working_dir: /app
  hadolint:
    build:
      dockerfile: docker/hadolint/Dockerfile
    working_dir: /app
    volumes:
      - ./:/app
