name: Shellcheck

on:
  push:
jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@v2.0.0
